extends layout

block content

  h1= title
  form.moodForm(method="POST" action="/addNewMood")
    fieldset
      div
        label(for="mood") Mood:
        input(name="mood" placeholder="What's your mood?" type="text")
      div
        label(for="intensity") Intensity:
        input(name="intensity" placeholder="Enter a number" type="text")
      div
        label(for="description") Description:
        textarea(name="description" placeholder="How are you feeling?")
      div
        - var click = "document.getElementsByTagName('form')[0].submit()"
        a.btn(href="javascript:void(0)" onclick=click) Submit
