extends layout

block content

  - var moods = ["Aggravated","Amused","Angry","Annoyed","Anxious","Apathetic","Bewildered","Blissful","Bouncy","Calm","Cheerful","Complacent","Confused","Content","Cranky","Crappy","Crazy","Curious","Cynical","Depressed","Devious","Disappointed","Discontent","Ditzy","Dreamy","Ecstatic","Energetic","Enraged","Enthralled","Envious","Excited","Flirty","Frustrated","Giddy","Giggly","Gloomy","Good","Grateful","Grumpy","Guilty","Happy","High","Hopeful","Impressed","Indifferent","Infuriated","Irate","Irritated","Jealous","Joyful","Jubilant","Lazy","Lethargic","Listless","Lonely","Loved","Mad","Melancholy","Mellow","Mischievous","Moody","Mournful","Numb","Optimistic","Peaceful","Pessimistic","Pleased","Rejected","Rejuvenated","Relaxed","Relieved","Restless","Sad","Satisfied","Shocked","Silly","Smart","Stressed","Surprised","Sympathetic","Thankful","Uncomfortable","Weird"];
  - var n = 0;

  h1= title
  form.moodForm(method="post")
    fieldset
      div
        label(for="mood") Mood:
        select(name="mood")
          each mood in moods
            option(value=mood)= mood
      div
        label(for="intensity") Intensity:
        select(name="intensity")
          while n++ < 10
            option(value=n)= n
      div
        label(for="description") Description:
        textarea(name="description")
      div
        a.btn(href="/addNewMood") Submit
