doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/dynatable/jquery.dynatable.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.nav
      a.addMood(href="/")
        span Add Mood
      a.viewAll(href="/viewAll")
        span View All
    .content
      block content
    script(type="text/javascript", src='/bower_components/jquery/dist/jquery.js')
    script(type="text/javascript", src='/bower_components/dynatable/jquery.dynatable.js')
    script(type="text/javascript", src="/javascripts/all.js")
