doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bower_components/dynatable/jquery.dynatable.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAtdR3AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAREAAAAAAAARERAAAAAAAREREQAAAAAREREREAAAARERERERAAAREREREREQABERERERERAAEREREREREAAREREREREQAAEREQEREQAAABEQABEQAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP9/AAD+PwAA/B8AAPgPAADwBwAA4AMAAMABAADAAQAAwAEAAMABAADggwAA8ccAAP//AAD//wAA", rel="icon", type="image/x-icon")
  body
    nav.nav
      a.addMood(href="/")
        span Add Mood
      a.viewAll(href="/viewAll")
        span View All
      if !user
        a.login(href="/login")
          span Login
        a.signup(href="/signup")
          span Sign Up
      else
        p Hello #{user.username}
        a.logout(href="/logout")
          span Log Out
    .content
      if error
        h3= error
      block content
    script(type="text/javascript", src='/bower_components/jquery/dist/jquery.js')
    script(type="text/javascript", src='/bower_components/dynatable/jquery.dynatable.js')
    script(type="text/javascript", src="/javascripts/all.js")
