@font-face {
    font-family: "Avenir-Regular";
    src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
    src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"), url("../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"), url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"), url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"), url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 16px "Avenir-Regular", Helvetica, Arial, sans-serif;
  width: 100%;
}

.content {
  padding: 0 2em;
}

nav {
  background-color: #00a1cc;
  color: white;
  height: 3em;
  display: flex;
  align-items: center;
  width: 100%;
}

nav a {
  color: white;
  padding: 0 1em;
}

th a, th a:hover {
  color: black;
}

table {
  margin: 1em;
}

td, th {
  padding: 1em;
}

form {
  margin: 0 20%;
}

fieldset {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

fieldset > * {
  width: 100%;
  margin: 2em 0;
}

.moodForm input[type="text"], .moodForm textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
}

.btn {
  color: black;
  font-size: 18px;
}

.btn:hover {
  color: #00a1cc;
}


.dynatable-active-page {
  background: #00a1cc;
}


input[type='text'], input[type='password'] {
  width: 100%;
  margin: 1em 0;
  padding: 1rem;
  font-size: 16px
}

input[type="submit"] {
  height: 4em;
  width: 9em;
  font-size: 20px;
}


@media only screen and (max-width: 700px) {
  body {
    font-size: 12px;
    padding: 0;
  }
  fieldset {
    padding: 0.5em;
    margin: 0;
    border: none;
  }
  form {
    margin: 0
  }
  #logTable {
    margin: 2em 0;
    width: 100%;
  }
  #logTable td, #logTable th {
    padding: 0
  }
}

tr td:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
